@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #000;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 54px;
}

body {
    background-color: rgb(217, 221, 201);
    font-family: "Lato", sans-serif;
}
h2 {
    background-color: #809283;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    margin: 1px;
    text-transform: uppercase;
}

h3,
h4 {
    text-align: center;
}

#club-name {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    /*padding: 0;*/
}

#logo-outer {
    height: 400px;
    width: 100%;
}

#main-logo {
    height: 400px;
    width: 100%;
    background: url('../images/main-picture.webp') center center/cover no-repeat;
}

#about-us,
#gallery,
#events,
#contact-us {
    padding-bottom: 5px;
    font-size: 2rem;

}


/*Menu section*/
header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 1;
}

.nav-list {
    background: rgb(155, 163, 126);
    /*padding: 5px 0;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-item a:hover {
    color: rgb(41, 177, 41);
    background-color: rgb(55, 83, 74);
    padding: 10px;
    font-weight: 900;
    }

/*About Us section*/

#about-us p {
    padding: 1px;
    text-align: center;
}

.container {
    border: 1px solid #000;
    margin: 1px;
    padding: 5px 0;
    text-align: center;
}

.box {
    height: auto;
    width: 32%;
    display: inline-block;
    /*margin: auto;*/
    border: 2px #2b2727 solid;
    vertical-align: top;
    margin: 2px 0;
    /*margin-bottom: 5px;*/
    border-radius: 10px;
}

/*Gallery section*/

.grit-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

img {
    width: 100%;
    border-radius: 5px;
}

.grit-box {
    padding: 5px;
}

/*Upcoming Events section*/

#events-map {
    width: 100%;
    height: 300px;
}

/* Contact Us section*/

form {
    text-align: center;
}

.contact-box {
    background-color: rgba(145, 135, 135, 0.2);
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #000;
}

.input-field {
    width: 320px;
    height: 40px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.button {
    border-radius: 10px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #3a3a3a;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Footer with social links section*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 2.5rem;
    margin: 1%;
    padding: 5%;
    /*color: ;*/
}

/* Media query section*/

@media screen and (max-width: 1920px) {
    .nav-item:first-child {
        margin-right: auto;
        margin-left: 1rem;
    }

}

@media screen and (max-width: 850px) {

    #club-name {
        font-size: 2rem;
    }

    .box {
        width: 32%;
    }

    .nav-item a {
        font-size: 1.5rem;
    }

    .nav-item:first-child {
        margin-right: auto;
        margin-left: 1rem;
    }

    .nav-item a:hover {
        padding: 5px;
        font-weight: 400;
    }
}

@media screen and (max-width: 480px) {
    #club-name {
        font-size: 2rem;
    }

    .box {
        width: 99%;
    }

    .nav-list {
        padding: 2px 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-item {
        margin-top: 5px;
    }

    .nav-item a {
        font-size: 1.5rem;
        /*margin-bottom: 100px;*/
    }

    .nav-item a:hover {
        color: rgb(41, 177, 41);
        padding: 2px;
        font-weight: 500;
    }

}