@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #000;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 54px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(217, 221, 201);
    font-family: "Lato", sans-serif;
}


h2 {
    background-color: #809283;
    /*padding: 3px;*/
    text-align: center;
    /*border-radius: 0.5rem;*/
    /*margin: 1px;*/
    text-transform: uppercase;
}

header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 9999;
}

form {
    text-align: center;
}

#club-name {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#logo-outer {
    width: 100%;
    height: 400px;
    
}

#main-logo {
    width: 100%;
    height: 400px;
    background: url('../images/main-picture.webp') center center/cover no-repeat;
}

.common-section {
    padding-bottom: 3px;
    font-size: 2rem;
    }

/*Menu section*/

.nav-list {
    background: rgb(155, 163, 126);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    }

.nav-item a {
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav-item a:hover {
    color: rgb(41, 177, 41);
    background-color: rgb(55, 83, 74);
    /*padding: 3px;*/
    font-weight: 900;
}

/*About-Us section*/

#about-us p {
    padding: 1px;
    text-align: center;
}

.container {
    border: 1px solid #000;
    margin: 1px;
    padding: 5px 0;
    text-align: center;
}

.box {
    height: auto;
    width: 32%;
    display: inline-block;
    /*margin: auto;*/
    border: 2px #2b2727 solid;
    vertical-align: top;
    margin: 2px 0;
    /*margin-bottom: 5px;*/
    border-radius: 1rem;
}

/*Gallery section*/

.event-details {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
    }

.event-item{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5rem;
}

.grit-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

img {
    width: 100%;
    border-radius: 0.5rem;
}

.grit-box {
    padding: 0.5rem;
}

/*Upcoming-Events section*/

#events-map {
    width: 100%;
    height: 300px;
}

/* Contact Us section*/

.contact-box {
    background-color: rgba(145, 135, 135, 0.2);
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #000;
}

.input-field {
    width: 32rem;
    height: 4rem;
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #777;
    border-radius: 1rem;
    outline: none;
}

.textarea-field {
    height: 15rem;
    padding-top: 1rem;
}

.button {
    border-radius: 1rem;
    color: #fff;
    margin-top: 18px;
    padding: 1rem;
    background-color: #3a3a3a;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* Footer with social links section*/

footer {
    height: 15rem;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 2.5rem;
    margin: 1%;
    padding: 5%;
}

/* Media query section*/

@media screen and (min-width: 320px) and (max-width: 520px) {
    
    html {
        scroll-padding-top: 120px;
         }
    #club-name {
        font-size: 2rem;
    }
/*
    section {
        padding: 3px;
    }
*/
    .box {
        width: 99%;
    }

    .nav-list {
        padding: 2px 0;
        flex-direction: column;
    }

    .nav-item {
        margin-top: 2px;
    }

    .nav-item a {
        font-size: 1.5rem;
    }

    .nav-item a:hover {
        color: rgb(41, 177, 41);
        padding: 2px;
        font-weight: 500;
    }
}

@media screen and (min-width: 521px) and (max-width: 1000px) {

    #club-name {
        font-size: 2rem;
    }

    .box {
        width: 99%;
    }

    .nav-item a {
        font-size: 1.5rem;
    }

    .nav-item:first-child {
        margin-right: auto;
        margin-left: 1rem;
    }

    .nav-item a:hover {
        padding: 5px;
        font-weight: 400;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1920px) {

    .nav-item:first-child {
        margin-right: auto;
        margin-left: 1rem;
    }

}



