@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #3a3a3a;
}

body {
    background-color: rgb(217, 221, 201);
    font-family: Lato, sans-serif;
}

h2 {
    background-color: #809283;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    margin: 1px;
    text-transform: uppercase;
}

h3,
h4 {
    text-align: center;
}

#club-name {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    float: left;
    margin-left: 5px;
    letter-spacing: 3px;
    font-size: 250%;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu,
#club-name {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 25px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgb(193, 211, 205);
    padding: 2px;
    border: 1px solid black;
    border-radius: 7px;
}

#logo-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-logo {
    /*overflow: hidden;*/
    height: 600px;
    width: 100%;
    background: url('../images/main-picture.webp') center center/cover no-repeat;
}

#about-us,
#gallery,
#events,
#contact-us {
    margin-top: 20px;
    font-size: 120%;
}

#about-us p {
    padding: 1px;
    text-align: center;
}

.horizontal_slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
}

.slider_container {
    display: block;
    white-space: nowrap;
}

.item {
    display: inline-block;
    margin: 1px;
}

.item img {
    border-radius: 5px;
    width: auto;
    height: 600px;
    object-fit: cover;
}

.contact-box {
    background-color: rgba(145, 135, 135, 0.2);
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
}

#events-map {
    width: 100%;
    height: 300px;
}

form {
    text-align: center;
}

.input-field {
    width: 320px;
    height: 40px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.button {
    border-radius: 10px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #3a3a3a;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.container {
    border: 1px solid black;
    margin: 1px;
    padding: 10px 0;
    text-align: center;
}

.box {
    height: auto;
    width: 32%;
    display: inline-block;
    margin: auto;
    border: 2px #2b2727 solid;
    vertical-align: top;
    margin-bottom: 5px;
    border-radius: 10px;
}


@media screen and (max-width: 950px) {

    #club-name {
        float: left;
        margin-left: 3px;
        letter-spacing: 3px;
        font-size: 200%;
    }

    .box {
        width: 90%;
    }

    #menu {
        font-size: 110%;
        letter-spacing: 3px;
        clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #menu li {
        float: right;
        margin-right: 15px;
        list-style-type: none;
    }

    .item {
        display: block;
        margin: 1px;
    }

    .item img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media screen and (max-width: 800px) {
    #club-name {
        float: left;
        margin-left: 3px;
        letter-spacing: 3px;
        font-size: 150%;
    }

    .box {
        width: 90%;
    }

    #menu {
        font-size: 80%;
        letter-spacing: 3px;
        clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #menu li {
        float: right;
        margin-right: 8px;
        list-style-type: none;
    }
}